<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<header class="header-section">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="/img/logo.png" alt="">
            </a>
        </div>
        <div class="nav-menu">
            <nav class="mainmenu mobile-menu">
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about-us">About</a></li>
                    <li><a href="/classes">Classes</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/contact">Contacts</a></li>
                </ul>
            </nav>
            <a href="/signup" class="primary-btn signup-btn">Sign Up Today</a>
            <a href="/user" class="primary-btn signup-btn">Login</a>
        </div>
        <div id="mobile-menu-wrap"></div>

    </div>
    <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb/classes-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>About</h2>
                    <div class="breadcrumb-option">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- About Section Begin -->
<section class="about-section about-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-pic">
                    <img src="/img/about-pic.jpg" alt="">
                    <a href="https://www.youtube.com/watch?v=SlPhMPnQ58k" class="play-btn video-popup">
                        <img src="/img/play.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text">
                    <h2>Story About Me</h2>
                    <p class="first-para">I got into fitness and health 4 years ago. I was very unhealthy and needed a
                        change, so I started with basic cardio and fell in love with it! It gave me this euphoria I’ve
                        never felt before and was losing weight! I started with just basic cardio and a much healthier
                        diet. By
                        a few years later I couldn’t stop and felt so much better!</p>
                    <p class="second-para">After a few years, I started getting into
                        weight training and really started to notice the changes it had on me mentally and phsyically. I
                        then decided to help people achieve their health and fitness
                        goals and went to get my NCSF certification! Now I am training and helping my clients reach
                        their
                        goals, and I want to help you too!</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- About Section End -->

<!-- Banner Section Begin -->
<section class="banner-section set-bg" data-setbg="/img/banner-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-text">
                    <h2>Get training today</h2>
                    <a href="/signup" class="primary-btn banner-btn">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-option">
                    <span>Phone</span>
                    <p>(619) 572-0824</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-option">
                    <span>Address</span>
                    <p>72 Kangnam, 45 Opal Point Suite 391</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-option">
                    <span>Email</span>
                    <p>cblackmon814@yahoo.com</p>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <ul>
                <li><a href="#">Term&Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            <p>&copy;<p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                    is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </p>
             <div class="footer-social">
                <a href="https://www.facebook.com/corey.blackmon.142"><i class="fa fa-facebook"><img
                            src="/img/facebook-logo.png" alt=""></i></a>
                <a href="https://twitter.com/CoreyBlackmon8"><i class="fa fa-twitter"><img src="/img/twitter-logo.png"
                            alt=""></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->