<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="/img/logo.png" alt="">
            </a>
        </div>
        <div class="nav-menu">
            <nav class="mainmenu mobile-menu">
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about-us">About</a></li>
                    <li><a href="/classes">Classes</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/contact">Contacts</a></li>
                </ul>
            </nav>
            <a href="/signup" class="primary-btn signup-btn">Sign Up Today</a>
            <a href="/login" class="primary-btn signup-btn">Login</a>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
    <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb/classes-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Contact</h2>
                    <div class="breadcrumb-option">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-info">
                    <h4>Contact Us</h4>
                    <div class="contact-address">
                        <div class="ca-widget">
                            <div class="cw-icon">
                                <img src="/img/icon/icon-1.png" alt="">
                            </div>
                            <div class="cw-text">
                                <h5>Our Location</h5>
                                <p>2310 Manor Rd Austin, Tx</p>
                            </div>
                        </div>
                        <div class="ca-widget">
                            <div class="cw-icon">
                                <img src="/img/icon/icon-2.png" alt="">
                            </div>
                            <div class="cw-text">
                                <h5>Phone:</h5>
                                <p>(619) 572-0824</p>
                            </div>
                        </div>
                        <div class="ca-widget">
                            <div class="cw-icon">
                                <img src="/img/icon/icon-3.png" alt="">
                            </div>
                            <div class="cw-text">
                                <h5>Mail</h5>
                                <p>cblackmon814@yahoo.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="well col-sm-8">
                <fieldset>
                    <div class="col-sm-8" style="padding-top: 50px;">
                        <div class="col-md-12">
                            <div class="form-area">
                                <form
                                    action="https://script.google.com/macros/s/AKfycbzycqpvYbPD-Q26-WRcklZuhxdRsmBK-abCBhXltGHf6lhBYYoX/exec"
                                    role="form" class="gform" method="post" name="frm_feedback">
                                    <div class="form-group"><input id="name" class="form-control" name="name"
                                            type="text" placeholder="Name" /></div>
                                    <div class="form-group"><input id="email" class="form-control" name="email"
                                            type="email" placeholder="Email" /></div>
                                    <div class="form-group"><input id="mobile" class="form-control"
                                            name="mobile-number" pattern="[0-9]*" type="number"
                                            placeholder="Mobile Number" /></div>
                                    <div class="form-group"><textarea id="message" class="form-control" maxlength="140"
                                            name="message" rows="7" placeholder="Message"></textarea></div>
                                    <button id="contactSubmit" class="primary-btn contact-btn" name="submit"
                                        type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        {{!-- <div class="col-lg-8">
                <div class="contact-form">
                    <h4>Leave A Comment</h4>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Your name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Your email">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Your messages"></textarea>
                                <button type="submit"><a href="mailto:cblackmon814@yahoo.com">Submit</button></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div> --}}
    </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-option">
                    <span>Phone</span>
                    <p>(619) 572-0824</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-option">
                    <span>Address</span>
                    <p>2310 Manor Rd. Austin, Tx</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-option">
                    <span>Email</span>
                    <p>cblackmon814@yahoo.com</p>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <<ul>
                <li><a href="#">Term&Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
                </ul>
                <p>&copy;<p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                        template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </p>
                <div class="footer-social">
                    <a href="https://www.facebook.com/corey.blackmon.142"><i class="fa fa-facebook"><img
                                src="/img/facebook-logo.png" alt=""></i></a>
                    <a href="https://twitter.com/CoreyBlackmon8"><i class="fa fa-twitter"><img
                                src="/img/twitter-logo.png" alt=""></i></a>
                </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->