<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="/img/logo.png" alt="">
                </a>
            </div>
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/about-us">About</a></li>
                        <li><a href="/classes">Classes</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="/contact">Contacts</a></li>  
                    </ul>
                </nav>
                <a href="#" class="primary-btn signup-btn">Sign Up Today</a>
            </div>
            <div id="mobile-menu-wrap"></div>

        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->

<!-- Hero Section Begin -->
<section class="hero-section set-bg" data-setbg="/img/hero-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="hero-text">
                    <span>Member Benefits</span>
                    <h1>Workout Tracker</h1>
                    <p>Preset by your trainer or customized by you. <br /> Get the most out of every workout.</p>
                    <a href="#" class="primary-btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->


    <!-- About Section Begin -->
    <section class="about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-pic">
                        <img src="/img/about-pic.jpg" alt="">
                        <a href="https://www.youtube.com/watch?v=SlPhMPnQ58k" class="play-btn video-popup">
                            <img src="/img/play.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>Story About Us</h2>
                        <p class="first-para">Lorem ipsum proin gravida nibh vel velit auctor aliquet. Aenean pretium
                            sollicitudin, nascetur auci elit consequat ipsutissem niuis sed odio sit amet nibh vulputate
                            cursus a amet.</p>
                        <p class="second-para">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, gravida
                            quam semper libero sit amet. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
                            rhoncus, gravida quam semper libero sit amet.</p>
                        <a href="/about-us" class="primary-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

    <!-- Services Section Begin -->
    <section class="services-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="services-pic">
                        <img src="/img/services/service-pic.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-items">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="services-item bg-gray">
                                    <img src="/img/services/service-icon-1.png" alt="">
                                    <h4>Personal Training</h4>
                                    <p>Join Correy for personal training. Each workout will be tailored to your goals.
                                    </p>
                                </div>
                                <div class="services-item bg-gray pd-b">
                                    <img src="/img/services/service-icon-3.png" alt="">
                                    <h4>Workout</h4>
                                    <p>Even your own, each workout will be tailored to your goals so you get the most
                                        out of each workout.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="services-item">
                                    <img src="/img/services/service-icon-2.png" alt="">
                                    <h4>Partners</h4>
                                    <p>Join others with similar goals on your off days and challenge each other to the
                                        max.</p>
                                </div>
                                <div class="services-item pd-b">
                                    <img src="/img/services/service-icon-4.png" alt="">
                                    <h4>Goals</h4>
                                    <p>Track your goals and progress by completing workouts and adding them to your
                                        profile.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->


    <!-- Register Section Begin -->
    <section class="register-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="register-text">
                        <div class="section-title">
                            <h2>Register Now</h2>
                            <p>The First 7 Day Trial Is Completely Free With The Teacher</p>
                        </div>
                        <form action="#" class="register-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="name">First Name</label>
                                    <input type="text" id="name">
                                </div>
                                <div class="col-lg-6">
                                    <label for="email">Your email address</label>
                                    <input type="text" id="email">
                                </div>
                                <div class="col-lg-6">
                                    <label for="last-name">Last Name</label>
                                    <input type="text" id="last-name">
                                </div>
                                <div class="col-lg-6">
                                    <label for="mobile">Mobile No*</label>
                                    <input type="text" id="mobile">
                                </div>
                            </div>
                            <button type="submit" class="register-btn">Get Started</button>
                        </form>
                    </div>
                    <form action="#" class="register-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="name">First Name</label>
                                <input type="text" id="name">
                            </div>
                            <div class="col-lg-6">
                                <label for="email">Your email address</label>
                                <input type="text" id="email">
                            </div>
                            <div class="col-lg-6">
                                <label for="last-name">Last Name</label>
                                <input type="text" id="last-name">
                            </div>
                            <div class="col-lg-6">
                                <label for="mobile">Mobile No*</label>
                                <input type="text" id="mobile">
                            </div>
                        </div>
                        <button type="submit" class="register-btn">Get Started</button>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="register-pic">
                        <img src="/img/register-pic.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Register Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-option">
                    <span>Phone</span>
                    <p>(123) 118 9999 - (123) 118 9999</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-option">
                    <span>Address</span>
                    <p>72 Kangnam, 45 Opal Point Suite 391</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-option">
                    <span>Email</span>
                    <p>contactcompany@Gutim.com</p>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <ul>
                <li><a href="#">Term&Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            <p>&copy;<p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                    is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </p>
            <div class="footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->